---
import ProjectCard from "@/components/ProjectCard.astro";
import SectionTitle from "@/components/SectionTitle.astro";

interface ProjectData {
  name: string;
  description: string;
  technologies: string[];
}

interface Props {
  projectList: ProjectData[];
  class?: string;
}

const { projectList, class: className } = Astro.props;
---

<SectionTitle id="projects" class="mb-20">Projects</SectionTitle>

<div class:list={["flex flex-wrap justify-center lg:justify-between gap-x-5 gap-y-8", className]}>
  {projectList.map((project) => 
    <ProjectCard
      {...project}
    />
  )}
</div>
  