@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-lato: "Lato", sans-serif;
  --font-merriweather: "Lato", sans-serif;/* "Merriweather", serif; */
  --font-code: "Fira Code", monospace;

  --color-*: initial;
  --color-white:    oklch(0.9583 0.0111 89.72);
  --color-grey:     oklch(0.3882 0.0127 57.91);
  --color-black:    oklch(0.2669 0.0163 326.02);
  --color-forest-l: oklch(0.6218 0.17031250000000003 150);
  --color-forest-m: oklch(0.4932 0.13437500000000002 150);
  --color-forest-d: oklch(0.3425 0.09375000000000001 150);
  --color-rust-l:   oklch(0.6571 0.17031250000000003 41);
  --color-rust-m:   oklch(0.5222 0.13437500000000002 41);
  --color-rust-d:   oklch(0.3608 0.09375000000000001 41);

  --color-transparent-rust-l:   oklch(0.6571 0.17031250000000003 41 / 0%);
}

body {
  @apply font-lato text-black;
}

.radial-background {
  --background-size: 350vh;
  position: fixed;
  top: calc(var(--background-size) / 2 * -1);
  height: var(--background-size);
  width: 100vw;
  background-image: radial-gradient( oklab(85.135% 0.00985 0.04774 / 0.4) 6%, oklab(85.135% 0.00985 0.04774 / 0) 100%);
  z-index: -1;
}

.layout-container {
  display: grid;
  grid-template-columns: minmax(1rem, auto) repeat(7, minmax(0, 7.25rem)) minmax(1rem, auto);

  @apply gap-x-4 md:gap-x-8 lg:gap-x-12 xl:gap-x-16;
}

.layout-container > * {
  grid-column: 2 / span 7;
}

.layout-container > .second-line {
  @apply col-start-2 col-span-1 lg:col-start-3;
}

.layout-container > .thinner-size {
  @apply col-start-2 col-span-7 lg:col-start-3 lg:col-span-5;
}

.layout-container > .full-size {
  grid-column: 1 / span 9;
}

@keyframes show-process {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(400px);
  }
}

.show-on-scroll {
  transform: translateY(var(--tw-translate-y));
  animation: show-process 400ms ease-out both;
  animation-timeline: scroll(block root);

  view-timeline-inset: -1000px;
}

.border-gradient-rusty {
  --gradient-distance: 8%;
  border-image-source: linear-gradient(var(--tw-gradient-position, to right), var(--color-rust-m) 0%, var(--color-rust-l) var(--gradient-distance), var(--color-transparent-rust-l) calc(var(--gradient-distance) * 4));
  border-image-slice: 1;
}

.gradient-distance-long {
  --gradient-distance: 20%
}

.border-gradient-forest {
  border-image-source: linear-gradient(to bottom, var(--color-forest-m) 0%, var(--color-forest-l) 27%, var(--color-forest-m));
  border-image-slice: 1;
}

.glowing-text-shadow:hover {
  text-shadow: 0px 0px 12px var(--color-forest-m) / 80;
}

.hide-menu {
  @apply h-0 opacity-0;
}

/* Old tries */
/* .bg-glow-forest {
  background-image: linear-gradient(to bottom, var(--color-forest-m) 0%, oklch(0.6115 0.1678 149.92) 48%, var(--color-forest-l) 90%);
}

.text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

.border-gradient-glow-forest {
  box-sizing:border-box;
  display: inline-block;
  background:none;
  border:none;
  border-right:3px solid #0498f8;
  border-left:3px solid #0498f8;
  border-image: linear-gradient(to bottom, var(--color-forest-m) 0%, oklch(0.6115 0.1678 149.92) 48%, var(--color-forest-l) 90%);
  border-image-slice: 1;
  position: relative;
  text-transform: lowercase;
  cursor: pointer;

  --border-radius: 8px
}

.border-gradient-glow-forest:before,
.border-gradient-glow-forest:after {
  content: '';
  display: block;
  width: 100%;
  height: calc(100% + 4px);
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  border: 3px solid #0498f8;
  position: absolute;
  border-right: none;
  top: -2px;
  left: 0px;
}
.border-gradient-glow-forest:after {
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
  border: 3px solid var(--color-forest-l);
  position: absolute;
  border-left: none;
  left:auto;
  bottom: -2px;
  left: 0px;
} */