@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-lato: "Lato", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-code: "Fira Code", monospace;

  --color-*: initil;
  --color-white:    oklch(0.9583 0.0111 89.72);
  --color-grey:     oklch(0.3882 0.0127 57.91);
  --color-black:    oklch(0.2669 0.0163 326.02);
  --color-forest-l: oklch(0.6218 0.17031250000000003 150);
  --color-forest-m: oklch(0.4932 0.13437500000000002 150);
  --color-forest-d: oklch(0.3425 0.09375000000000001 150);
  --color-rust-l:   oklch(0.6571 0.17031250000000003 41);
  --color-rust-m:   oklch(0.5222 0.13437500000000002 41);
  --color-rust-d:   oklch(0.3608 0.09375000000000001 41);
}
