---
interface Props {
  name: string;
  description: string;
  technologies: string[];
  className?: string;
}

const {
  name,
  description,
  technologies,
  className
} = Astro.props;
---

<div class:list={["group overflow-hidden flex flex-col max-w-96 border-gradient-forest border-3 shadow-black/20 shadow-lg", className]}>
  <img class="w-full aspect-video object-cover object-top group-hover:scale-[1.085] transition-all" src="/src/assets/image.png"/>
  <hr class="border-forest-l border-b-8"/>
  <h3 class="mt-3 mx-4 font-bold text-xl tracking-tight">{name}</h3>
  <p class="mt-2 mx-4 font-merriweather font-medium text-base leading-6">{description}</p>
  <div class="bg-grey py-2.5 px-4 mt-3 text-white flex-1">
    <h4 class="font-semibold text-sm">Tecnologies</h4>
    <span class="font-code text-xs">{technologies.join(" - ")}</span>
  </div>
</div>